<div class="container">
  <h2 class="text-center">Formulario de creacion de equipo</h2>
</div>
<div class="container">
  <form
    class="row g-3 d-flex p-2"
    action="/CrearTeam"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="col-md-3">
      <label for="nombre" class="form-label textoB">Nombre del Equipo</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        placeholder="Arsenal FC"
        required
      />
    </div>
    <div class="col-md-2">
      <label
        for="nombre-abreviado"
        class="form-label textoB"
      >Abreviacion</label>
      <input
        type="text"
        class="form-control"
        id="nombre-abreviado"
        name="nombreAbreviado"
        placeholder="Arsenal"
      />
    </div>
    <div class="col-md-2">
      <label for="nombre-acronimo" class="form-label textoB">Acronimo </label>
      <input
        type="text"
        class="form-control"
        id="nombre-acronimo"
        name="tla"
        placeholder="ARS"
        required
      />
    </div>
    <div class="col-md-5">
      <label for="input-email" class="form-label textoB">Email</label>
      <input
        type="email"
        class="form-control"
        id="input-email"
        name="email"
        placeholder="arsenalTop16@gmail.com"
      />
    </div>
    <div class="col-3">
      <label for="input-direccion" class="form-label textoB">Pais</label>
      <input
        type="text"
        class="form-control"
        id="input-direccion"
        name="paisNombre"
        placeholder="Inglaterra"
        required
      />
    </div>
    <div class="col-3">
      <label for="input-telefono" class="form-label textoB">Telefono</label>
      <input
        type="text"
        class="form-control"
        id="input-telefono"
        name="telefono"
        placeholder="+264123456"
      />
    </div>
    <div class="col-6">
      <label for="input-pagina" class="form-label textoB">Pagina web</label>
      <input
        type="text"
        class="form-control"
        id="input-pagina"
        name="paginaWeb"
        placeholder="http://www.arsenal.com"
      />
    </div>
    <div class="col-3">
      <label for="input-fundacion" class="form-label textoB">A単o de fundacion</label>
      <input
        type="text"
        class="form-control"
        id="input-fundacion"
        name="fundacion"
        placeholder="1887"
      />
    </div>
    <div class="col-2">
      <label for="input-primer-color" class="form-label textoB">Color</label>
      <input
        type="text"
        class="form-control"
        id="input-colores"
        name="colores"
        placeholder="Azul / Naranja"
      />
    </div>
    <div class="col-7">
      <label for="input-estadio" class="form-label textoB">Estadio</label>
      <input
        type="text"
        class="form-control"
        id="input-estadio"
        name="estadio"
        placeholder="El Monumental"
      />
    </div>
    <div class="col-6">
      <label for="input-direccion" class="form-label textoB">Direccion</label>
      <input
        type="text"
        class="form-control"
        id="input-direccion"
        name="direccion"
        placeholder="Avenida siempre viva"
      />
    </div>
    <div class="col-6">
      <label for="imagen-url" class="form-label textoB">Escudo URL</label>
      <input
        type="text"
        class="form-control"
        id="imagen-url"
        name="imagenURL"
        placeholder="https://upload.wikimedia.org/wikipedia/en/5/53/Arsenal_FC.svg"
      />
    </div>
    <div class="col-md-12 mt-4">
      <input
        type="file"
        class="form-control"
        id="imagen-equipo"
        name="imagen"
        aria-describedby="inputGroupFileAddon04"
        aria-label="Upload"
      />
    </div>

    <div class="col-6">
      <button
        type="submit"
        class="btn btn-warning align-self-end"
        id="boton-a単adir"
        value="a単adir"
      >A単adir</button>
    </div>
    <div class="col-6 d-flex flex-row-reverse">
      <a
        href="/"
        class="btn btn-danger justify-content-end"
        id="boton-retroceder"
        value="retroceder"
      >Retroceder</a>
    </div>
  </form>

  {{#if data.error}}
    <div class="row g-3 d-flex p-2">
      <p class="error">{{data.error}}</p>
    </div>
  {{/if}}
</div>