<div class="container">
  <h2 class="text-center">ACA SE CREA UN NUEVO TEAM TEST</h2>
</div>
{{!ok, esta shit es casi casi igual a la anterior, por lo que no hay que explicar mucho
mas alla de que no me gusta que tenga que escribir esto(creo que se puede hacer con un par
de funciones buenas), y que es casi hacer trampa, pero bueno, donde haga falta algo, se explicara }}
{{!esto es un formulario con un metodo post,se usa para enviar datos a algun lugar, esto lo vamos a usar
como estructura para poder crear un nuevo team, es solo la estrucutra esto, nada mas}}
<div class="container">
  <form
    class="row g-3 d-flex p-2"
    action="/CrearTeam"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="col-md-3">
      <label for="nombre" class="form-label">Nombre del Equipo</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        name="nombre"
        placeholder="Arsenal FC"
        required
      />
    </div>
    <div class="col-md-2">
      <label for="nombre-abreviado" class="form-label">Nombre Abreviado</label>
      <input
        type="text"
        class="form-control"
        id="nombre-abreviado"
        name="nombreAbreviado"
        placeholder="Arsenal"
      />
    </div>
    <div class="col-md-2">
      <label for="nombre-acronimo" class="form-label">Acronimo de tres letras</label>
      <input
        type="text"
        class="form-control"
        id="nombre-acronimo"
        name="tla"
        placeholder="ARS"
        required
      />
    </div>
    <div class="col-md-5">
      <label for="input-email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="input-email"
        name="email"
        placeholder="arsenalTop16@gmail.com"
      />
    </div>
    <div class="col-3">
      <label for="input-direccion" class="form-label">Pais</label>
      <input
        type="text"
        class="form-control"
        id="input-direccion"
        name="paisNombre"
        placeholder="Inglaterra"
        required
      />
    </div>
    <div class="col-3">
      <label for="input-telefono" class="form-label">Telefono</label>
      <input
        type="text"
        class="form-control"
        id="input-telefono"
        name="telefono"
        placeholder="+264123456"
      />
    </div>
    <div class="col-6">
      <label for="input-pagina" class="form-label">Pagina web</label>
      <input
        type="text"
        class="form-control"
        id="input-pagina"
        name="paginaWeb"
        placeholder="http://www.arsenal.com"
      />
    </div>
    <div class="col-3">
      <label for="input-fundacion" class="form-label">A単o de fundacion</label>
      <input
        type="text"
        class="form-control"
        id="input-fundacion"
        name="fundacion"
        placeholder="1887"
      />
    </div>
    <div class="col-2">
      <label for="input-primer-color" class="form-label">Color</label>
      <input
        type="text"
        class="form-control"
        id="input-colores"
        name="colores"
        placeholder="Azul / Naranja"
      />
    </div>
    <div class="col-7">
      <label for="input-estadio" class="form-label">Estadio</label>
      <input
        type="text"
        class="form-control"
        id="input-estadio"
        name="estadio"
        placeholder="El Monumental"
      />
    </div>
    <div class="col-6">
      <label for="input-direccion" class="form-label">Direccion</label>
      <input
        type="text"
        class="form-control"
        id="input-direccion"
        name="direccion"
        placeholder="Avenida siempre viva"
      />
    </div>
    <div class="col-6">
      <label for="imagen-url" class="form-label">Escudo URL</label>
      <input
        type="text"
        class="form-control"
        id="imagen-url"
        name="imagenURL"
        placeholder="https://upload.wikimedia.org/wikipedia/en/5/53/Arsenal_FC.svg"
      />
    </div>
    <div class="col-md-12 mt-4">
      <input
        type="file"
        class="form-control"
        id="imagen-equipo"
        name="imagen"
        aria-describedby="inputGroupFileAddon04"
        aria-label="Upload"
      />
    </div>
    <div class="col-6">
      <button
        type="submit"
        class="btn btn-primary align-self-end"
        id="boton-a単adir"
        value="a単adir"
      >A単adir</button>
    </div>
    <div class="col-6 d-flex flex-row-reverse">
      <a
        href="/equiposTEST"
        class="btn btn-primary justify-content-end"
        id="boton-retroceder"
        value="retroceder"
      >Retroceder</a>
    </div>
  </form>

  {{#if data.error}}
    <div class="row g-3 d-flex p-2">
      <p class="error">{{data.error}}</p>
    </div>
  {{/if}}
</div>