<h1>Esto va adentro del body</h1>

<p>Y acá agarro datos del servidor. Por ejemplo: Hola, <strong>{{data.nombre}}</strong></p>

<p>Y acá agarro datos del servidor. Por ejemplo: Hola, <strong>{{data.nombreMayusculas}}</strong></p>

<p>Y esto viene desde un archivo parcial (partial): </p>
{{! bueno, esto funciona de la siguiente manera , en el partial navegacionTest, se pide un array items
, esto se pasa simplemente, asignando el data.listado a los items, como se ve abajo }}
{{>navegacionTest items=data.listaNombres}}
  {{! los onclick de aca, mandan cosas a la consola, pero no trabajan con el servidor, asi que no funciona}}
<form action="/equipos" method="POST" enctype="multipart/form-data">
  <label for="Test">Test: </label>
  <input type="text" name="TestPOST" id="TestPOST" />
  <input type="submit" value="Subir" onclick="console.log('picoro')"/>
</form>
  <input type="submit" value="pedir" />

  <input type="submit" value="borrar" />

<form action="/equipos" method="PUT" enctype="multipart/form-data">
  <label for="Test">Test: </label>
  <input type="text" name="TestPUT" id="TestPUT" />
  <input type="submit" value="modificar" />

</form>
  

  <input type="submit" value="reiniciar" />


{{! aca es solo un if else normal, nada nuevo, mas alla de usar la funcion data.esPar}}
{{#if data.esPar }}
  <strong>ES PAR!</strong>
{{else}}
  <strong>ES IMPAR!!</strong>
{{/if}}
